<?php
/**
 * Created by PhpStorm.
 * User: matthias
 * Date: 09.08.18
 * Time: 11:41
 */


define("NGINX_CONF", "/etc/nginx/sites-enabled/cloudfront.conf");
define("DOCKER_DEFAULT_NET", "gatos-net");

// The label the config is stored in json format in docker swarm.
define("CONFIG_SERVICE_LABEL", "org.infracamp.service.config");
define("RUDL_CONFIG_NAME", "org.infracamp.rudl.config");

define("VERSION_INFO", "v0.1.%VERSION_NUMBER% (%VERSION_DATE_COMPACT%)");
